/* Header */
header {
    border-bottom: 4px solid #7d97ad;
}

/* Body */
body {
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  color: #2d3c49;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Logo */
.Logo {
  height: 7em;
  width: 7em;
}

/* Fonts */
.text-thin {
  font-weight: 100;
}

/* Main Content */
.project-title {
  text-align: center;
}

.project {
  text-align: center;
}

.project-featured {
  color: #7d97ad;
  padding-left: 8px;
}

.project-description {
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
}
